@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-cube {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  /* 0.577 = tan(30deg)*/
}

.bg-colorful {
  --s: 100px; /* control the size */
  --c1: #ff847c;
  --c2: #e84a5f;
  --c3: #fecea8;
  --c4: #99b898;

  background: conic-gradient(
      from 45deg at 75% 75%,
      var(--c3) 90deg,
      var(--c1) 0 180deg,
      #0000 0
    ),
    conic-gradient(from -45deg at 25% 25%, var(--c3) 90deg, #0000 0),
    conic-gradient(from -45deg at 50% 100%, #0000 180deg, var(--c3) 0),
    conic-gradient(
      from -45deg,
      var(--c1) 90deg,
      var(--c2) 0 225deg,
      var(--c4) 0
    );
  background-size: var(--s) var(--s);
}

.bg-polka {
  --s: 100px; /* control the size */

  --c: #1a144a;
  --_g: conic-gradient(var(--c) 25%, #0000 0) 0 0;
  background: var(--_g) / calc(2 * var(--s)) calc(var(--s) / 9.5),
    var(--_g) / calc(var(--s) / 9.5) calc(2 * var(--s)),
    repeating-conic-gradient(#0000 0 25%, var(--c) 0 50%) var(--s) 0 /
      calc(2 * var(--s)) calc(2 * var(--s)),
    radial-gradient(50% 50%, #2eb044 98%, var(--c)) 0 0 / var(--s) var(--s);
}

input[type='color']::-moz-color-swatch {
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}
